@font-face {
  font-family: 'Zen New';
  src: local('ZenNew-Thin'), local('ZenNew Thin'), url(./ZenNew-Thin.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Zen New';
  src: local('ZenNew-Light'), local('ZenNew Light'), url(./ZenNew-Light.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Zen New';
  src: local('ZenNew-Regular'), local('ZenNew Regular'), url(./ZenNew-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Zen New';
  src: local('ZenNew-Medium'), local('ZenNew Medium'), url(./ZenNew-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Zen New';
  src: local('ZenNew-Bold'), local('ZenNew Bold'), url(./ZenNew-Bold.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Zen New';
  src: local('ZenNew-ExtraBold'), local('ZenNew ExtraBold'), url(./ZenNew-ExtraBold.otf) format('opentype');
  font-weight: 500;
}
